.code {
  margin: 30px 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.2px;
  max-width: 650px;
  border-radius: 8px;
}

.code pre {
  white-space: pre;
}

.codeWrap pre {
  white-space: normal !important;
}

.title {
  text-align: center;
  color: #888;
  font-size: 13px;
  line-height: 22px;
  padding: 5px 20px;
}