.href {
  border: 0;
}

.container {
  text-align: center;
  max-width: 100%;
  margin: 50px 0;
}

.img {
  max-width: 100%;
  border-radius: 8px;
}

.title {
  color: #888;
  font-size: 13px;
  line-height: 22px;
  padding: 5px 20px;
}

.title div {
  margin: 0;
}