.iframe {
  border-radius: 4px;
}

.container {
  position: relative;
  cursor: pointer;
}

.clickToPlay {
  position: absolute;
  width: 200px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 1px #9e9e9e;
  color: #FFF;
  background-color: #ca0c0c;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -17px;
  font-family: arial;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.container img {
  border: 0;
  box-shadow: 0px 0px 7px 0px #9e9e9e;
  border-radius: 4px;
}

.container:hover {
  opacity: 0.8;
}