.span {
  margin-right: 20px;
}

.spanNoMargin {
  margin-right: 0;
}

.a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.a:hover {
  color: #FFF;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8bc34a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  color: #FFF;
  line-height: 1;
}

.ct2 {
  text-align: center;
  margin: 20px 0 0 0;
}

.ct3 {
  border-top: 1px solid #000;
  padding-top: 10px;
  text-align: center;
  margin: 15px 0 0 0;
}

.ct3 a {
  font-size: 14px;
}