body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 100px 0;
}

.heading {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  margin: 100px 0 80px 0;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 10%);
}

.heading .caption {
  margin-right: 20px;
}

.heading .circle {
  width: 70px;
  height: 70px;
  background-color: hsl(0deg, 100%, 50%);
  border-radius: 50%;
}

.title {
  border-top: 10px solid hsl(0deg, 100%, 50%);
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  color: hsl(0deg, 0%, 80%);
  background-color: hsl(0deg, 0%, 10%);
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 80px 0;
}

.countdown {
  text-align: center;
  margin: 0 0 10px 0;
}

.countdown .caption {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
  color: hsl(0deg, 0%, 30%);
}

.countdown .timer {
  margin-top: 10px;
  font-size: 60px;
  color: hsl(0deg, 0%, 10%);
  letter-spacing: 2px;
  font-family: 'Roboto Mono';
}

.addToCal {
  text-align: center;
  margin: 0 0 80px 0;
}

.addToCal a {
  color: hsl(0deg, 0%, 10%);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.liveNow {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 0 0 80px 0;
  text-decoration: none;
  color: hsl(0deg, 0%, 10%);
}

.liveNow img {
  width: 30px;
  height: 35px;
  margin: 0 10px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.form input {
  border: 1px solid hsl(0deg, 100%, 0%);
  padding: 10px 15px;
  font-size: 18px;
  width: 300px;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.form button:focus,
.form input:focus {
  box-shadow: 5px 10px 0 0 hsl(0deg, 0%, 40%);
}

.form button {
  border: 0;
  background-color: hsl(0deg, 100%, 0%);
  color: hsl(0deg, 100%, 100%);
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 150px;
  font-weight: 600;
  cursor: pointer;
  outline: 0;
}

.form button:hover {
  color: hsl(0deg, 100%, 50%);
}

.twitch {
  display: flex;
  justify-content: center;
  opacity: 0.6;
}

.twitch:hover {
  opacity: 1;
}

.twitch img {
  width: 20px;
  height: 23px;
  margin-right: 10px;
}

.twitch a {
  text-decoration: none;
  color: hsl(0deg, 0%, 10%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
}

@media only screen and (max-width: 400px) {
  .heading {
    font-size: 35px;
    margin: 50px 0 80px 0;
  }

  .heading .caption {
    margin-left: 10px;
  }

  .heading .circle {
    width: 40px;
    height: 40px;
  }

  .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding: 20px;
  }

  .countdown .timer {
    font-size: 40px;
  }

  .form {
    padding: 0 20px;
  }

  .form input {
    font-size: 16px;
    width: 200px;
  }

  .form button {
    font-size: 10px;
    line-height: 15px;
  }
}